
@media screen and (max-width: 960px) {
    .container {
      width: 90%;
      padding-left: 4%;
      padding-right: 4%;
    }

    .background {
      width: 100%;
    }
    .merit {
      width: 100%;
      padding-top: 60px;
    }
    .merit__list {
      width: 80%;
      display: flex;
      justify-content: space-around;
      padding-left: 10%;
    }
    .contact {
      width: 100%;
      float: left;
    }
    .contact__list {
      padding: 3% 0;
      padding-right: 10%;
      flex-direction: row;
    }
    .contact__item {
      padding: 0 4%;
    }

    .works__item {
      width: 50%;
      height: 240px;
      overflow: hidden;
    }
}

@media screen and (max-width: 855px) {
  .contact__list {
    flex-direction: column;
    padding: 0 10%;
  }

  .works__item {
    width: 50%;
    height: 200px;
    overflow: hidden;
  }

  .overlay {
    height: 210px;
  }
}
